

<div class="container">
    <div class="row">
        <div class="col-12 py-3">
            <button class="btn btn-info" (click)="goBack()">Back</button>
        </div>
    </div>
    <div class="row" *ngIf="action == 'add' || action == 'edit';else view">
        <div class="col-12 col-md-8">
            <div class="form-group">
                <label>Название:</label>
                <input type="text" [(ngModel)]="book.Name" class="form-control">
            </div>
            <div class="form-group">
                <label>Автор:</label>
                <input type="text" [(ngModel)]="book.Author" class="form-control"> </div>
            <div class="form-group">
                <label>Год выпуска:</label>
                <input type="text" [(ngModel)]="book.Year" class="form-control"> </div>
            <div class="form-group">
                <label>Жанр:</label>
                <input type="text" [(ngModel)]="book.Genre" class="form-control"></div>
            <div class="form-group">
                <label>Описание:</label>
                <textarea type="text" [(ngModel)]="book.Description" class="form-control" rows="5"></textarea></div>
            <div class="form-group">
                <button *ngIf="action == 'add'" class="btn btn-success" (click)="addBook()">Добавить</button> 
                <button *ngIf="action == 'edit'" class="btn btn-success" (click)="editBook(book.id)">Сохранить</button> 
            </div>
        </div>
    </div>
    <ng-template #view>
        <div class="row">
            <div class="col-12">
                <div class="alert alert-light">
                    <strong>Название:</strong>
                    <p>{{book.Name}}</p>
                </div>
                <div class="alert alert-light">
                    <strong>Автор:</strong>
                    <p> {{book.Author}}</p>
                </div>
                <div class="alert alert-light">
                    <strong>Год выпуска:</strong>
                    <p>  {{book.Year}}</p>
                </div>
                <div class="alert alert-light">
                    <strong>Жанр:</strong>
                    <p>{{book.Genre}}</p>
                </div>
                <div class="alert alert-light">
                    <strong>Описание:</strong>
                    <p> {{book.Description}}</p>
                </div>
                <div>
                    <button class="btn btn-warning" [routerLink]="['/book', book.id]" [queryParams]="{action:'edit'}">Редактировать</button>
                </div>
            </div>
        </div>
    </ng-template>
</div>